<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>

    <button style="margin-left: 16px;" mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>

    <div class="profile-thumbnail" fxFlex fxLayoutAlign="flex-end">
      <span>Welcome User</span>
      <img src="https://images.pexels.com/photos/1484794/pexels-photo-1484794.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
    </div>
  </mat-toolbar-row>
</mat-toolbar>
