:host {
  color: #333;
}

h3,
h4 {
  font-weight: 300 !important;
}

.search-wrap {
  background: #fff;
  padding: 20px 15px;
  border-radius: 5px;

  .mat-form-field {
    font-weight: 300 !important;
    font-size: 14px !important;
  }
}

.data-source {
  width: 100%;
  background-color: #fff;
  margin-top: 20px;
  .add-shipping {
    padding: 5px 15px;
  }
  table {
    width: 100%;

    .mat-header-cell {
      font-size: 13px;
      font-weight: 500;
      color: #333;
    }

    .mat-cell,
    .mat-footer-cell {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 960px) {
  .mat-table {
    border: 0;
    vertical-align: middle;
  }

  .mat-header-cell {
    font-size: 13px;
    font-weight: 500;
    color: #333;
  }

  .mat-table caption {
    font-size: 13px;
    font-weight: 500;
    color: #333;
  }

  /*  Enable this to hide header
  .mat-table .mat-header-cell {

    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  */
  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }
  /*
  .mat-table .mat-row:nth-child(even) {background: #CCC}
  .mat-table .mat-row:nth-child(odd) {background: #FFF}
  */
  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 14px;
    text-align: right;
    padding: 0px 30px;
    font-weight: 300;
    // height: 30px;
    margin-bottom: 10px;
    color: #333;
  }

  .mat-table .mat-cell:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;

    font-size: 0.85em;
  }
  mat-row,
  mat-footer-row {
    min-height: 30px;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
  .mat-table .mat-cell:first-child {
    margin-top: 2%;
  }
}
