/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap");

@import "~@angular/material/theming";
$custom-typography: mat-typography-config(
  $font-family: '"Noto Sans JP", sans-serif',
);
@include mat-core($custom-typography);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif !important;
}
